.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows:  repeat(16, 1fr);
    width: 600px;
    height: 600px;
}

.black {
    background-color: black;
}

.pixel {
    border: 1px solid;
    border-color: black;
}